@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CRUDModel
@{
    
}

<div class="UperBar">
    <label top: calc(50% - 20px);>Фильтр: </label>

    <label for="dateFrom" >C :</label>
    <select multiple size="1">
        <option>Не Выбран</option>
        @foreach (DateTime option in Model.FromDatelist)
        {
            <option>@option.ToShortDateString()</option>
        }
    </select>

    <label for="dateTo" >По: </label>
    <select multiple size="1">
        <option>Не Выбран</option>
        @foreach (DateTime option in Model.ToDatelist)
        {
            <option>@option.ToShortDateString()</option>
        }
    </select>

    <button class="FilterButton">
        <label>Применить фильтр</label>
    </button>

    <button class="PlusButton">
        <label>Cоздать заказ</label>
    </button>
</div>

<p>
    <div class="tableContainer">
        <table cols="число">
            <tr>
                <th>ID</th>
                <th>Заказ Но.</th>
                <th>Дата</th>
                <th>Поставщик</th>
            </tr>
            @foreach (DateBaseOrderModel order in Model.TableData)
            {
                <tr>
                    <td>@order.Id.ToString()</td>
                    <td>@order.Number.ToString()</td>
                    <td>@order.Date.ToLongDateString()</td>
                    <td>@order.Provider?.Name.ToString()</td>
                </tr>
            }
        </table>
    </div>
<p/>
