@model CRUDModel

<div class="UperBar">
    <label top: calc(50% - 20px);>Фильтр: </label>

    <label for="DateFrom">C :</label>
    <select onChange="SelectFilters(this)" id="DateFrom" size="1">
        
        @if (Model.SelectedDateFrom != "Не Выбран")
        {
            <option >Не Выбран</option>
            <option selected="selected">@Model.SelectedDateFrom</option>
        }
        else
        {
            <option selected="selected">Не Выбран</option>
        }
        @foreach (DateTime option in Model.Datelist)
        {
            <option>@option.ToShortDateString()</option>
        }
    </select>

    <label for="DateTo" >По: </label>
    <select onChange="SelectFilters(this)" id="DateTo" size="1">
        @if (Model.SelectedDateTo != "Не Выбран")
        {
            <option >Не Выбран</option>
            <option selected="selected">@Model.SelectedDateTo</option>
        }
        else
        {
            <option selected="selected">Не Выбран</option>
        }
        @foreach (DateTime option in Model.Datelist)
        {
            <option>@option.ToShortDateString()</option>
        }
    </select>

    <button class="FilterButton">
        <label onclick="SetFilters()" style="cursor:pointer">Применить фильтр</label>
    </button>

    <button class="PlusButton">
        <label style ="cursor:pointer">Cоздать заказ</label>
    </button>
</div>

<p>
    <div class="modal" tabindex="-1" role="dialog" id="modDialog" style="min-width:850px;">
        <div class="modal-dialog" role="document" id="dialogContent" style="min-width:850px;"></div>
    </div>
</p>

<p>
    <div class="tableContainer">
        <table id="CRUD_Table" cols="число">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Заказ Но.</th>
                    <th>Дата</th>
                    <th>Поставщик</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DateBaseOrderModel order in Model.TableData)
                {
                    <tr onclick="ClickOnLine(this)" ondblclick="DoubleClickOnLine(@order.Id.ToString())">
                        <td>@order.Id.ToString()</td>
                        <td>@order.Number.ToString()</td>
                        <td>@order.Date.ToLongDateString()</td>
                        <td>@order.Provider?.Name.ToString()</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
<p/>



