@model CRUDModel

<div class="UperBar">
    <label top: calc(50% - 20px);>Фильтр: </label>


    <label>Дата C </label>
    <input onChange="SelectFilters(this)" id="DateFrom" type="date" value="@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")">

    <label>По </label>
    <input onChange="SelectFilters(this)" id="DateTo" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")">

    <label for="Number" >Номер:</label>
    <label class="MySelectedLabel" for="Number" id="Numberlabel"></label>
    <select class="MySelectML" onChange="SelectFilters(this)" id="Number" size="1">
        @foreach (string option in Model.OrderNumber)
        {
            <option>@option</option>
        }
    </select>

    <label for="Provider" >Поставщик:</label>
    <label class="MySelectedLabel" for="Provider" id="Providerlabel"></label>
    <select class="MySelectML" onChange="SelectFilters(this)" id="Provider" size="1">
        @foreach (string option in Model.OrderProviderName)
        {
            <option>@option</option>
        }
    </select>

    <button class="FilterButton">
        <label onclick="SetFilters()" style="cursor:pointer">Применить фильтр</label>
    </button>

    <button class="PlusButton">
        <label onclick="NewOrder()" style="cursor:pointer">Cоздать заказ</label>
    </button>
</div>

<p>
    <div class="modal" tabindex="-1" role="dialog" id="modDialog" style="min-width:850px;">
        <div class="modal-dialog" role="document" id="dialogContent" style="min-width:850px;"></div>
    </div>
</p>

<p>
    <div class="tableContainer">
        <table id="CRUD_Table" cols="число">
            <thead>
                <tr>
                    <th>Заказ Но.</th>
                    <th>Дата</th>
                    <th>Поставщик</th>
                </tr>
            </thead>
            <tbody id="OrderTableBody">
                @foreach (DateBaseOrderModel order in Model.TableData)
                {
                    <tr onclick="ClickOnLine(this)" ondblclick="DoubleClickOnLine(this)" id="@order.Id.ToString()">
                        <td>@order.Number.ToString()</td>
                        <td>@order.Date.ToLongDateString()</td>
                        <td>@order.Provider?.Name.ToString()</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
<p/>



