@model OrderModel
<div class="modal-content" style="min-width:1200px">
    <div class="modal-header">
        <h4>Заказ</h4>
        <td><img src="Images\Icons\delete.png" width="40" height="40" id="OrderDelete_@Model.Header.Id.ToString()" onclick="DeleteOrder(this)" style="cursor:pointer"></td>
    </div>
    <div class="modal-body">
        <div class="UperBar">
            <label>Номер: </label>
            <input type="text" id="Order_Number" value="@Model.Header.Number">

            <label>Дата: </label>
            <input type="date" id="Order_Date" value="@Model.Header.Date.ToString("yyyy-MM-dd")">

            <label for="Provider">Поставщик: </label>
            <label class="MySelectedLabel" for="ProviderName" id="ProviderNameLabel">@Model.Header.Provider.Name</label>
            <select class="MySelectML" onChange="Selectlabel(this)" id="ProviderName" size="1">
                @foreach (DateBaseProviderModel option in Model.Providers)
                {
                    <option>@option.Name</option>
                }
            </select>

        </div>
        <p>
            <div class="tableContainer">
                <table cols="число">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Единица измерения</th>
                            <th><img src="Images\Icons\plus.png" width="30" height="30" onclick="Additem()" style="cursor:pointer"></th>
                        </tr>
                    </thead>
                    <tbody id="OrderItemTable">
                        @foreach (DateBaseOrderItemModel item in Model.Lines)
                        {
                            <tr onclick="ClickOnLine(this)" id="Item_@item.Id.ToString()">
                                <td contenteditable="true">@item.Name</td>
                                <td contenteditable="true">@item.Quantity.ToString()</td>
                                <td contenteditable="true">@item.Unit</td>
                                <td><img src="Images\Icons\delete.png" width="30" height="30" onclick="Deleteitem(this)" style="cursor:pointer"></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot> </tfoot>
                </table>
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="OrderSave_@Model.Header.Id.ToString()" onclick="SaveOrder(this)">Сохранить</button>
    </div>
</div>

